<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane>
    <!--  our side menu  -->
    <ion-menu menuId="about">
      <ion-header>
        <ion-toolbar>
          <ion-title>About Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>About Menu Item 1</ion-item>
          <ion-item>About Menu Item 2</ion-item>
          <ion-item>About Menu Item 3</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-content>